
body {
    background: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 1rem;
}

.ods-group {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

.ods-item {
    width: 90%;
    justify-content: center;
}

.ods-item:hover {
    scale: 1.1  ;
    transition: 0.7s;
}

body.eco-mode {
    background: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    font-family: Arial, sans-serif; /* Fuente del sistema */
    transition: background 0.5s, color 0.5s;
}

.eco-mode .ods-item:hover {
    scale: 1; /* Desactivar animaciones */
    transition: none;
}

.eco-mode img {
    filter: grayscale(100%); /* Reducir colores en imágenes */
    opacity: 0.8; /* Reducir brillo */
}

@media (max-width: 768px) {
    .ods-group {
        flex-direction: column;
        align-items: center;
    }

    .ods-item {
        width: 100%;
        margin-bottom: 1rem;
        scale: 0.8;
    }
}

