body {
    background: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ods-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.ods-item {
    width: 33%;
    justify-content: center;
}

.ods-item:hover {
    scale: 1.1  ;
    transition: 0.7s;
}
